.movie-list .swiper-slide{
    width: 15%;
}
@media screen and (max-width: 600px) {
    .movie-list .swiper-slide{
        width: 40%;
    }
}
@media screen and (max-width: 1024px) {
    .movie-list .swiper-slide{
        width: 30%;
    }
}
.movie-list img{
    width: 95%;
}