.hero-slide{
    margin-bottom: 1rem;
}

.hero-slide_item{
    padding: 16rem 0;
    width: 100%;
    height: 100%;
    background: no-repeat center fixed;
    background-size: cover;
}
.hero-slide_item::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}
.hero-slide_item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.hero-slide_item_content{
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
}
.hero-slide_item_content_info{
    width: 55%;
    padding: 0 2rem;
    position: relative;
}
.title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin: 2rem 0 2rem 0;
    position: relative;
    z-index: 9;
}
.overview{
    font-weight: 700;
    margin-bottom: 2rem;
    position: relative;
    z-index: 9;
}
.btns Button{
    margin-left: .5rem;
}
.btns, .title, .overview{
    opacity: 1;
    animation: fade;
    animation-duration: .7s;
    animation-direction: forward;
}
@keyframes fade {
    0%   { opacity: 0; transform: translate(0px,100px); }
    100% { opacity: 1; transform: translate(0px,0px); }
}
.hero-slide_item_content_poster{
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.hero-slide_item_content_poster img{
    width: 200px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    z-index: 8;
    animation-name: scale;
    animation-duration: .7s; 
    animation-fill-mode: forwards; 
}
@keyframes scale {
    0%   {  opacity: 0; transform: scale(0.5,0.5); }
    100% { opacity: 1; transform: scale(1,1); }
  }
@media screen and (max-width: 1024px) {
    .title{
        font-size: 4rem;
    }
    .hero-slide_item_content_info{
        width: 100%;
    }
    .hero-slide_item_content_poster img{
        display: none;
    }
}

